{% set collection = page.collection() %}

{% if collection | length %}
{% set featured = collection|first %}
<div>
    <a href="{{ featured.header.link }}" title="{{ featured.header.title }}" target="_blank"> 
        <img class="img-fluid" src="{{ featured.header.image }}" alt="{{ featured.header.title }}" />
    </a>
</div>
{% endif %}
{{ page.content }}
