{% set collection = page.collection() %}

{% if collection | length %}
  <ul class="list-unstyled">
    {% for item in collection %}
      <li class="item">
        <h3 class="title"><i class="fa fa-certificate"></i> <a href="{{ item.header.link }}" title="{{ item.title }}" target="_blank">{{ item.title|truncate(23) }}</a></h3>
        <h4 class="institute">{{ item.header.location }}<br /><span class="date">{{ item.date|date('F jS Y') }}</span></h4>
      </li>
    {% endfor %}
  </ul>

  {% if theme_config.linkedin %}
    <p><a class="more-link" href="{{ theme_config.linkedin }}"><i class="fa fa-external-link"></i> More on Linkedin</a></p>
  {% endif %}
{% endif %}
